
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.assets.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.assets.cache
WebApplication1/WebApplication1/obj/Debug/netcoreapp3.1/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
WebApplication1/WebApplication1/obj/project.assets.json
WebApplication1/WebApplication1/obj/project.nuget.cache
WebApplication1/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
